.nav-wrapper a {
  padding-left: 20px;
}

nav {
  background-color: rgb(43, 117, 61);
}

.log-button {
  float: right;
  padding-right: 3%;
  box-sizing: content-box!important;
}

.logo {
  float: left;
}

.logo a {
  font-size: 20px;
}

.top5-align {
  margin-left: 38%;
  font-size: 28px;
}

.modal {
  width: 650px;
  overflow-y: unset;
  color: #000;
}

.modal-footer {
  height: 70px;
}