.nav-wrapper a {
  padding-left: 20px;
}

nav {
  background-color: rgb(43, 117, 61);
}

.log-button {
  float: right;
  padding-right: 3%;
  box-sizing: content-box!important;
}

.logo {
  float: left;
}

.logo a {
  font-size: 20px;
}

.top-users {
  margin-left: 30%;
  font-size: 28px;
}

.modal {
  width: 475px;
  overflow-y: unset;
  color: #000;
}

.login-form {
  height: 100px;
}