<div class="profile" *ngFor="let user of users; let user_id=index">
  <h6>{{ user.userName }}</h6>

  <div class="gallery">
    <div class="row">
      <div class="col s1 m" *ngFor="let u of users[user_id].dbImg; let i=index">
        <div class="card">
          <div class="card-image" *ngIf="i<20">
            <img src="{{ u }}">
          </div>
        </div>
      </div>
    </div>
    
    <div class="btn-gallery">
      <a class="waves-effect waves-light btn"
        routerLink="profile-another"
        (click)="showProfile(user_id)">
        <span *ngIf="user_id!=logged_user_id">
        Gallery
      </span>
      <span *ngIf="user_id==logged_user_id">
        My Gallery
      </span>
      </a>
    </div>
  </div>
</div>