.like {
  position: absolute;
  bottom: 5px;
  left: 7px;
  max-width: 17%;
  padding: 0;
}

.like p {
  position: absolute;
  bottom: 0px;
  left: 100%;
  max-width: 100%;
  margin-bottom: 0;
  font-size: 16px;
  color: rgb(77, 75, 238);
}

.bold {
  font-weight: bold;
}

.row {
  border: 1px solid black;
}

.btn-gallery a {
  margin-right: 20px;
  margin-top: 50px;
}

.btn-gallery {
  margin-top: -110px;
  float: right;
  display: flex;
}

.instruction {
  float: right;
  margin-top: -15px;
  margin-right: 20px;
}

.instruction p {
  margin: 0px;
  padding: 3px;
}

.gallery {
  margin-top: 20px;
}

.red {
  background: red;
  color: #fff;
}

.user {
  margin-top: 10px;
  font-weight: bold;
} 

.float-user-inf {
  float: left;
  padding-right: 5px;
}