<div class="container">
  <div class="user">
    <div>
      <div class="float-user-inf" translate>userViewAlbums</div> {{ users[selected_profile].userName }}
    </div>
    <div>
      <div class="float-user-inf" translate>fnViewAlbums</div> {{ users[selected_profile].firstName }}
    </div>
    <div>
      <div class="float-user-inf" translate>lnViewAlbums</div> {{ users[selected_profile].lastName }}
    </div>
  </div>

  <div class="btn-albums" *ngIf="compareLoggedProfileWithSelected()">
    <a class="waves-effect waves-light btn"
      *ngIf="showFlagUnflagButton()"
      (click)="onClickFlag()" translate
    >flagAlbums</a>

    <a class="waves-effect waves-light btn"
      *ngIf="showFlagUnflagButton()"
      (click)="onClickUnFlag()" translate
    >unflagAlbums</a>

    <a class="waves-effect waves-light btn"
      *ngIf="flag || unflag || delete_album"
      (click)="onSaveFlag()" translate
    >saveAlbums</a>

    <a class="waves-effect waves-light btn"
      *ngIf="edit_album || edit_selected_album"
      (click)="onSaveFlag()" translate
    >cancelAlbums</a>

    <a class="waves-effect waves-light btn modal-trigger"
      *ngIf="edit_selected_album"
      href="#modal3"
      (click)="onClickEditSelectedAlbum()" translate
    >editAlbum</a>

    <a *ngIf="showDeleteAlbumButton()" class="waves-effect waves-light btn" (click)="onClickDeleteAlbum()" translate>deleteAlbums</a>
    <a *ngIf="showAddEditAlbumButton()" class="waves-effect waves-light btn" (click)="onClickEditAlbum()" translate>editAlbums</a>
    <a *ngIf="showAddEditAlbumButton()" class="waves-effect waves-light btn modal-trigger" href="#modal2" translate>addAlbums</a>
  </div>

  <p appHighlight class="instruction-flag" *ngIf="flag" translate>flagInstruction</p>
  <p class="instruction-flag" *ngIf="unflag" translate>unflagInstruction</p>
  <p class="instruction-flag" *ngIf="delete_album" translate>deleteAlbInstruction</p>
  <p class="instruction-flag" *ngIf="edit_album" translate>editAlbInstruction</p>

  <div class="gallery">
    <div class="row">

      <div class="album col s4" *ngFor="let album of images[selected_profile]?.albums; let id = index">
        <div  class="inside card" [class.primary] = "album.flag" (click)="onClickAlbum(id)">
          <div class="card-image">
            <div class="col s3" *ngFor="let img of album.img; let i = index">
              <!-- 12 images in album preview -->
              <img *ngIf="i < 12" src= "{{ img }}">
            </div>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <span *ngIf="album.flag">*{{ album.name }}</span>
              <span *ngIf="!album.flag">{{ album.name }}</span>
              <i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ album.name }}<i class="material-icons right">close</i></span>
            <p>{{ album.description }}</p>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <!-- modal for add albums -->
  <div id="modal2" class="modal modal-add-albums">
    <div class="modal-content">
      <div class="add-albums-form">

        <form [formGroup]="form_add_albums" (submit)="addAlbum()">
          <div class="input">
            <tr>
              <td>
                <label translate>albumName</label>
                <input type="text" formControlName="album_name" />
              </td>
            </tr>
            <tr>
              <td>
                <label translate>albumDescription</label>
                <input type="text" formControlName="album_description" />
              </td>
              <td class="check-flag">
                <label>
                  <input type="checkbox" formControlName="checkFlag"/>
                  <span translate>flagAlbums</span>
                </label>
              </td>
            </tr>
          </div>
          <div class="input">
            <button class="waves-light btn" type="submit" translate>addAlbum</button>
            <a class="close-add-album modal-close waves-light btn" translate>closeAddAlbum</a>
          </div>
        </form>

      </div>
    </div>
  </div>

  <!-- modal for edit albums -->
  <div id="modal3" class="modal modal-edit-albums">
    <div class="modal-content">
      <div class="add-albums-form">

        <form [formGroup]="form_edit_albums" (submit)="editAlbum()">
          <div class="input">
            <tr>
              <td>
                <label translate>editNameAlbum</label>
                <input type="text" formControlName="album_name" />
              </td>
            </tr>
            <tr>
              <td>
                <label translate>editDescriptionAlbum</label>
                <input type="text" formControlName="album_description" />
              </td>
              <td class="check-flag">
                <label>
                  <input type="checkbox" formControlName="checkFlag"/>
                  <span translate>editFlagAlbum</span>
                </label>
              </td>
            </tr>
          </div>
          <div class="input">
            <button class="waves-light btn modal-close" type="submit" translate>editSaveAlbum</button>
            <a class="close-add-album modal-close waves-light btn" translate>editCloseAlbum</a>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>