<div class="container">
  <div class="user">
    <p> User: {{ currentUser.userName }} </p>
    <p> First Name: {{ currentUser.firstName }} </p>
    <p> Last Name: {{ currentUser.lastName }} </p>
  </div>
  <div class="gallery">
    <div class="row">
        <div class="col s3 m" *ngFor="let img of currentUser.dbImg; let i = index">
          <div class="card">
            <div class="card-image">
              <img src="{{ img }}">
              <span class="like"><img src="http://www.pngmart.com/files/3/Facebook-Like-PNG-Image.png" (click)="likes(i)">
                <p>{{ currentUser.likes[i] }}</p>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-gallery">
        <a class="waves-effect waves-light btn"
          (click)="addPhoto()"
        >Add photo</a>

        <a class="waves-effect waves-light btn"
          (click)="deletePhoto()"
        >Delete photo</a>

        <a class="waves-effect waves-light btn"
          (click)="replacePhoto()"
        >Replace photo</a>
      </div>

  </div>
</div>