<div class="container">

  <div class="info-user" i18n>
    <p>Username: {{ users[logged_id_user].userName }} </p>
    <p>First Name: {{ users[logged_id_user].firstName }} </p>
    <p>Last Name: {{ users[logged_id_user].lastName }} </p>
  </div>

  <div class="avatar">
    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="{{ images[logged_id_user].avatar }}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="logout">
    <a i18n class="waves-effect waves-light btn"
      (click)="logOut()"
      routerLink=""
    >Log out</a>
  </div>
</div>