<div class="container">

  <div class="info-user">
    <span translate>username<p>{{ users[logged_id_user].userName }} </p></span>
    <span translate>firstName<p>{{ users[logged_id_user].firstName }} </p></span>
    <span translate>lastName<p>{{ users[logged_id_user].lastName }} </p></span>
  </div>

  <div class="avatar">
    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="{{ images[logged_id_user].avatar }}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="logout">
    <a class="waves-effect waves-light btn"
      (click)="logOut()"
      routerLink="" translate
    >logOut</a>
  </div>
</div>