<div class="container">
  <table class="table-top-users highlight">
    <thead>
      <tr class="sort-on-click">
          <th (click)="onName()" translate>name</th>
          <th (click)="onAlbums()" translate>albumsTopUser</th>
          <th (click)="onImages()" translate>imagesTopUser</th>
          <th (click)="onLikes()" translate>likesTopUser</th>
      </tr>
    </thead>

    <tbody>
      <tr class="tr-hover" *ngFor="let user of total_info; let i = index">
        <td>{{user.user}}</td>
        <td class="td-width">{{ user.total_albums }}</td>
        <td class="td-width">{{ user.total_images }}</td>
        <td class="td-width">{{ user.total_likes }}</td>
      </tr>
    </tbody>
  </table>
</div>